/* Base styles */
.menu-solar {
    background-color: #570587;
}

.nav-link, .navbar-nav .nav-link.show, .nav-link.active, .nav-link:focus, .nav-link:hover {
    color: white !important;
    text-shadow: 4px 4px 6px black;
}

.dropdown-menu.show {
    width: 100%;
    min-width: auto;
}

/* Hover and active styles */
.nav-link:hover {
    font-weight: bold;
    color: #02ff23 !important;
}

.dropdown-item:active {
    background-color: #02ff23;
}

/* Dropdown styles */
.nav-item:hover .dropdown-menu {
    display: block !important;
    color: #919191;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
}

.dropdown-toggle::after {
    display: none !important;
}

/* Offcanvas styles */
.offcanvas {
    background-color: #1f1f1f !important;
    color: #979797;
    text-transform: uppercase;
    font-weight: 600;
}

.offcanvas-header .btn-close {
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' ><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z' /></svg>");
}

.offcanvas.show .offcanvas-body {
    margin-left: 0 !important;
}
