/* Base styles */
.menu-solar {
    background-color: #570587;
}

.nav-link, .navbar-nav .nav-link.show, .nav-link.active, .nav-link:focus, .nav-link:hover {
    color: white !important;
    text-shadow: 4px 4px 6px black;
}

.dropdown-menu.show {
    width: 100%;
    min-width: auto;
}

/* Dropdown styles */
.nav-item:hover .dropdown-menu {
    display: block !important;
    color: #919191;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
}

.dropdown-toggle::after {
    display: none !important;
}

/* Offcanvas styles */
.offcanvas {
    background-color: #1f1f1f !important;
    color: #979797;
    text-transform: uppercase;
    font-weight: 600;
}

.offcanvas-header .btn-close {
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' ><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z' /></svg>");
}

.offcanvas.show .offcanvas-body {
    margin-left: 0 !important;
}
.banner-become{
    font-size: 2em;
    font-weight: bold;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
}
.banner-become>div {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    padding-left: 15px;
  }
  
.banner-become>div:first-of-type {
    animation: showup 7s infinite;
  }
  
.banner-become>div:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}

.banner-become>div:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width: fit-content;}
    80% {opacity:1;}
    100% {opacity:0;width: fit-content;}
}
@media (width < 425px) {
    .banner-become{
        font-size: 1.3em;
        height: 95px;
    }
    
  }