.program-date-item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;  
  padding: 30px 0;
  gap: 50px;
  border-bottom: solid 2px black;
}
.program-solar .nav-item .nav-link{
  color: black !important;
}
.text-position{
  text-align: justify;
}
.nav-tabs .nav-link.active{
  background-color: #570587;
  color: white !important;
}

.program-date-avatar {
  transition: .3s ease-in-out;
  object-fit: cover;
  object-position: top;
}


@media (width < 425px) {
  .nav-tabs{
    justify-content: center;
  }
}