.program-date-item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;  
  padding: 30px 0;
  gap: 50px;
  border-bottom: solid 2px black;
}
.program-solar .nav-item .nav-link{
  color: black !important;
}
.nav-tabs .nav-link.active{
  background-color: #570587;
  color: white !important;
}