.program-solar {
  background: rgb(207, 165, 245);
  background: linear-gradient(228deg, rgba(207, 165, 245, 1) 0%, rgba(149, 76, 172, 1) 75%);
}

.program-date-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 30px 0;
  gap: 50px;
  border-bottom: solid 2px rgb(255, 255, 255);
}

.item-program {
  color: rgb(255, 0, 0) !important;
  font-weight: 300;
}

.text-position {
  text-align: justify;
}

.nav-tabs .nav-link.active {
  background-color: #570587;
  color: white;
}

.program-date-avatar {
  transition: .3s ease-in-out;
  object-fit: cover;
  object-position: top;
}

.btn-buy {
  font-size: 20px;
  background-color: rgb(251, 0, 0);
  padding: 15px 5px;
  border-radius: 35px;
  width: 550px;
  box-shadow: 1px 6px 15px #0e0e0ea2
}

.btn-buy:hover {
  background-color: rgb(210, 0, 0);
  padding: 15px 5px;
  border-radius: 50px;
  box-shadow: 1px 6px 10px #0e0e0e82;
}

.title-speakers{
  font-size: 60px;
  text-shadow: 5px 5px 12px #000000;
}

.btn-speaker{
  background: rgb(207,165,245);
  background: linear-gradient(228deg, rgb(222, 185, 255) 0%, rgba(149,76,172,1) 75%);
  border-radius: 50% 20% / 10% 40%;
  border: none;
  margin: 10px 10px;
  transition-duration: 500ms, 2s;
}

.btn-speaker:hover{
  background: #f8f8f835;
  border-radius: 50% 20% / 10% 40%;
  transition-duration: 500ms, 2s;
}
.container-speaker {
  display: grid;
  grid-template-columns: 550px 550px;
  gap: 10px;
}

.img-back-speaker{
  width: 310px;
  margin-left: -30px;
  margin-top: -23px;
}
.img-speaker {
  width: 250px;
  position: relative;
  z-index: 2; 
}

.info_speakers {
  text-align: left;
}

.text-posotion{
  text-align: justify;
}

@media (max-width: 576px) {
  .nav-tabs {
    justify-content: center;
  }

  .container-speaker {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .img-speaker {
    width: 300px;
  }

  .info_speakers {
    margin-top: 20px;
    text-align: center;
  }

  .img-back-speaker{
    width: 370px;
    margin-left: -35px;
    margin-top: -28px;
  }

  .title-speakers{
    font-size: 50px;
    margin-bottom: 70px;
    text-shadow: 5px 5px 12px #000000;
  }

  .title-speakers{
    font-size: 40px;
  }

}

@media (min-width: 577px) and (max-width: 991px) {
  .container-speaker {
    display: grid;
    grid-template-columns: auto auto;
  }

  .info_speakers {
    text-align: center;
  }

  .title-speakers{
    font-size: 40px;
  }
}