.home-solar-submenu{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.home-solar-submenu a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    transition: 0.3s ease-in-out;
}
.home-solar-submenu a:hover{
    color: white;
    background-color: #570587;
    transform: scale(1.1);
}
.lg-react-element{
    column-count: 4;    
}
.img-gallery{
    cursor: pointer;
}
.home-whyexhibit{
    background-color: #570587;
    color: white;
    padding: 20px;
}
.home-bg-solarvideo{
    position: relative;
    min-height: 400px;
    color: white;
}
.home-bg-solarvideo video{
    object-fit: cover;
    width: 100%;
    min-height: 480px; 
}
.home-text-video{
   position: absolute;
   top: 0;
   display: flex;
   align-items: center;
   height: 100%;  
   text-shadow: 4px 4px 4px black;    
}
.home-text-video span{
    background-color: #F3736A;
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
}
.home-text-color{
    color: #f3736a;
}
.whatssap-button{
    position: fixed;
    bottom: 20px;
    right: 20px;   
    border-radius: 50%;
    background-color: #25D366;
    z-index: 10;    
}
.whatssap-button svg{      
    fill: white;
    width: 60px;
    padding: 12px;        
}