.home-solar-submenu {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.home-solar-submenu a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    transition: 0.3s ease-in-out;
    text-align: center;
}

.home-solar-submenu a:hover {
    color: white;
    background-color: #570587;
    transform: scale(1.1);
}
.slider-solar{
    display: flex;
    align-items: center;
    min-height: 700px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.slider-bg-energynight{    
    background-image: url('/bgEnergyNight.webp');
    background-size: cover;
    text-align: center;
    background-position: top;
    text-shadow: 4px 4px 4px black;
}

.slider-bg-energynight ul{
    list-style: none;
    display: flex;
    justify-content: center;
    border: solid 2px #A44DD6;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
.slider-bg-energynight ul li::before{
    content: "\2022";
    color: #A44DD6;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
}
.energy-description{
    color: white;
    font-size: 1.5em;
}
.energy-description span{
    color: #A44DCE;
    font-weight: bold;
}
.energy-date{
    color: white;
    font-size: 1.8em;
}
.energy-date p{
    color: #A44DD6;
    font-weight: bold;    
}
.energy-date span{
    background-color: #A44DD6;
    color: white;
    padding: 2px;    
}
.slider-bg-energynight li{
    padding: 0 10px;
}
.slider-solar>div{
    width: fit-content;
    padding-left: 5em;
}
.bgsolarvideo video{
    position: absolute;
    object-fit: cover;    
    top: 0;
    z-index: -1;
    height: 100%;
}
.lg-react-element {
    column-count: 4;
}

.img-gallery, .home-whyexhibit .learnmore, .whatssap-button, .exibitorSlider img {
    cursor: pointer;
}
.exibitorSlider{
    margin: 0 25px;
}
.home-whyexhibit {
    background-color: #570587;
    color: white;
    padding: 20px;
}

.learnmore {
    background-color: #ED6B06;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    text-shadow: 4px 4px 4px black;
}

.home-text-color {
    color: #ED6B06;
}

.whatssap-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #25D366;
    z-index: 10;
    transition: 0.3s ease-in-out;
}

.whatssap-button:hover {
    background-color: #128c7e;
    transform: scale(1.1);
}

.whatssap-button svg {
    fill: white;
    width: 60px;
    padding: 12px;
}

@media (max-width: 1440px) {
    .img-gallery {
        width: 100%;
        height: 100%;
    }
}
@media(max-width: 425px){
    .home-solar-submenu a {
        text-align: left;
    }
    .slider-solar>div{
        padding-left: 2em;
    }
    .home-solar-submenu a{
        justify-content: start;
    }
    .slider-bg-energynight{
        background-color: #322248;
        background-image: none;
        padding: 10px;        
    }
    .slider-bg-energynight .row{
        padding-top: 0 !important;
        padding-bottom: 20px;
        margin: 0 !important;        
    }
    .bgsolarvideo>div{
        width: 100%;
        padding: 0;
    }
}
