.bg-aboutssm{
    background-image: url('/gallery/gallerySSM2023-7.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-secondary-text{
    background-color: #EFEFEF;
}